[2015-07-28 16:13] sethetter opened #1 "Specify rvm gemset"
It's generally a good idea :)

[2015-07-28 16:13] sethetter commented on #1
Woops! Already there, my mistake.

So much for the first issue on the repo :)

[2015-07-28 16:13] #1 closed

[2015-07-28 16:16] jdg opened #2 "Pull in commits from previous repo"
https://github.com/jdg/startupwichita.com/commits/master

[2015-07-28 16:17] jdg commented on #1
Got the second ticket in place: https://github.com/StartupWichita/startupwichita.com/issues/2

;)

[2015-07-28 16:19] sethetter commented on #2
Done!

[2015-07-28 16:19] #2 closed

[2015-08-08 14:33] kentonh opened #3 "'if current_user.admin' is broken in People Index and Show"

[2015-08-08 14:36] kentonh opened #4 "'claim_people_path' not written"
This action should let a user claim a Person record if it is not connected to a User.

The goal is to let Users add a Person without requiring that human to be signed up, then let the human claim the Person profile later.

[2015-08-09 14:34] kentonh opened #5 "Filter options should be hidden by default"
Better design.

On People Index, the filter tags should be hidden by default, with a magnifying glass icon that can be clicked to reveal by slide down

[2015-08-09 14:47] kentonh opened #6 "People box looks bad in yellow"
Implement a different design?

[2015-08-09 15:35] kentonh opened #7 "Add up vote function"
Needed for Events, News, Resources, and People.

From index and show, a logged in user can click an icon to (boost, bump, co-sign, nod, thumbs up, appreciate, yes!) unsure of what terminology should be.
If a user has already voted, they can click remove their vote.

Default index view of all things use this metric, and somehow incorporate a list ordered by descending number of these votes.

Index

[2015-08-09 15:37] kentonh opened #8 "Add disclaimer for phone number"
If contact is checked to yes, then the person's phone number is displayed.

We should just tell them that's the case.

[2015-08-09 15:41] kentonh opened #9 "Add tagging functionality"
Logged in users can tag Resources, Events, and News by clicking to view list, then selecting multiple.

add new tags by text field of comma separated values, auto suggest existing tags

[2015-08-09 15:42] kentonh opened #10 "Make event date selection better"
It sucks now. Just use common sense.

[2015-08-10 01:42] kentonh opened #11 "Admin should be able to edit Featured value on People"

[2015-08-10 01:42] kentonh opened #12 "Index shouldn't show all people, only featured"

[2015-08-10 01:45] kentonh opened #13 "Link to Event URL"
Event's with a URL should show a button link to the URL

[2015-08-10 01:47] kentonh opened #14 "add Companies"
There should be an additional record that is for Companies:

Name
description
URL

[2015-08-10 01:50] kentonh opened #15 "RSS (?) feed of news, events, people, and resources?"
Then I can buffer to social media and curate into a newsletter.

[2015-08-11 03:12] kentonh commented on #13
Closed with 2cbb1877ff2fdf950c15800ec791796d2757206d

[2015-08-11 03:12] #13 closed

[2015-08-15 01:42] kentonh commented on #12
So the most recent release was set up to randomize the featured people. (Which is a terrible idea. When any person in the world can create an account, why would we want to show any random user? WHY, BRUCE?)

[2015-08-15 02:02] #8 closed

[2015-08-15 02:02] #11 closed

[2015-08-15 02:02] #12 closed

[2015-08-20 13:49] kentonh commented on #4
Taking the importance of the goal, I think the proper method would be to email an admin with that person's email address, and have them send a selfie with a hand-written note with some specific verification information. (What do you love about Wichita? etc.)

It would be a manual process of verification from Admin's but I think it would work.

[2015-08-20 14:05] rangerchaz commented on #4
We could tie in some social networking accounts as well. If we know their Facebook or Twitter account, we can use a login dialog to verify them. We could also do a simple email verification. Thoughts?

[2015-08-20 14:10] kentonh commented on #4
We need to have non-public information to verify with, but whatever that is I'm for it.

[2015-08-22 02:00] kentonh opened #16 "Allow change password from Profile edit"
Devise isn't set up to allow for changing passwords.

[2015-08-22 02:15] #5 closed

[2015-08-22 02:30] #6 closed

[2015-10-11 15:16] sethetter opened #20 "Home page typography / design"
* Avatars for featured people are narrower than they should be.
* Events on home page should probably exclude descriptions.
* The whole "boxes" layout for events, news and resources needs rethinking.

The improvements made to the /people index are great. I think we should try to carry out the same styles into the rest of the site.

I think we should be focused on good clean typography, not somethi

[2015-10-11 15:18] sethetter commented on #15
Pretty sure this is done.

[2015-10-11 15:18] #15 closed

[2015-10-11 15:20] sethetter opened #21 "Timestamps on events and news indexes should be more obvious"
This would be an opportunity to make some other needed improvements to the typography on these pages as well.

[2015-10-11 15:20] sethetter opened #22 "Resources should be tagged and filterable"

[2015-10-11 16:24] #21 closed

[2015-10-11 17:16] kentonh commented on #3
This was solved at some point, because it's working now.

[2015-10-11 17:17] #3 closed

[2015-10-11 18:09] kentonh opened #24 "Tag links are not working"
I have this tag on my profile so this should show my profile: http://suict.herokuapp.com/people/interests/marketing

it doesn't.

[2015-10-11 20:01] sethetter opened #25 "Tag entry field in topic form fails to load due to turbolinks"
Soooo, removing turbolinks.

[2015-10-11 20:03] #25 closed

[2015-10-11 20:21] #24 closed

[2015-10-17 13:21] sethetter opened #30 "Default image when gravatar / avatar missing not working"

[2015-10-17 17:05] #30 closed

[2015-10-17 17:36] sethetter opened #32 "Tag entry fields should suggest existing tags"
You know, cause it's a good idea and whatnot.

[2015-10-21 20:01] sethetter opened #38 "Resource show view has no link to resource"

[2015-10-21 20:03] #38 closed

[2015-10-28 16:03] sethetter opened #40 "Event scraping from certain places"
Pulling in events automatically from Meetup or FB for relevant groups would be great.

[2015-10-28 16:33] kentonh commented on #40
Christian has done this...

On Wed, Oct 28, 2015 at 11:03 AM, Seth Etter notifications@github.com
wrote:

[2015-10-28 18:05] sethetter commented on #40
In PHP :) and only for Facebook. I'm planning to do the meetup integration
on Wichitawesome, so I can do this one too, but yeah.

On Wed, Oct 28, 2015 at 11:33 AM Kenton Hansen notifications@github.com
wrote:

[2015-10-30 18:13] #20 closed

[2016-09-27 16:43] kentonh opened #42 "Description template truncates description"
http://www.startupwichita.com/profile/**user-name**

User description is truncated. Probably using the same template as the user index.

[2016-09-27 16:48] kentonh opened #43 "People index is littered with half completed profiles"
Need a way to deal with this.

Ideas are showing names in a list only (if there is no description provided)

Monthly email reminding people to keep their profile updated and/or hide the profile from the index if they are no longer part of the community.

[2016-09-27 17:08] adccb commented on #42
Hey, I'd like to fix this. Could you give me a little more info? Descriptions on `/profile/#{username}` don't appear truncated for me.

[2016-09-27 17:31] kentonh commented on #42
Take a look at this example:
http://www.startupwichita.com/profile/jonathan-george

##

Kenton Hansen
316-833-1036
@kentonh

[2016-09-27 17:40] k1r8r0wn commented on #16
I think I can help with that in a few days... maybe with another issues too.

[2016-09-27 17:49] adccb commented on #42
I see! `max-height` strikes again. Could you point me at the code that generated this CSS?

Edit: nevermind, looks like I found what might be causing it.

[2016-09-27 17:55] kentonh commented on #42
Should be in people/views

On Tuesday, September 27, 2016, Logan Crossan notifications@github.com
wrote:

##

Kenton Hansen
316-833-1036
@kentonh

[2016-09-27 18:05] adccb commented on #42
Looks like the culprit is a `max-height` prop in `people.css.scss` on line 52. Is there a particular reason that's in there? (Wouldn't want to break anything.)

[2016-09-27 18:18] kentonh commented on #42
I think it might be there for the people index view. The People detail
might need a new class in the view

[2016-09-27 18:26] ChanChar commented on #43
@kentonh I can take this one :].

The easy change is to filter out those profiles with partial data (eg. missing description).

How do you feel about ordering profiles based on profile completeness? For example, the more information you provide, the higher you are within the list? We can also incorporate this with the previous idea and have a lower limit that requires at least your name and descri

[2016-09-27 18:27] chashmeetsingh commented on #16
@kentonh PR to which branch?

[2016-09-27 18:29] adccb commented on #42
Yeah, that sounds good. I'll work on that -- how's a PR sound by the end of the week?

[2016-09-27 18:45] chashmeetsingh opened #44 "Attribute error"
<img width="764" alt="screen shot 2016-09-28 at 12 14 08 am" src="https://cloud.githubusercontent.com/assets/8962264/18887153/a193084a-8510-11e6-9469-17c4d1029a45.png">

[2016-09-27 18:55] kentonh commented on #42
I'll assign this to you. Thanks

[2016-09-27 18:57] kentonh commented on #16
Into the develop branch

On Tuesday, September 27, 2016, Chashmeet Singh notifications@github.com
wrote:

##

Kenton Hansen
316-833-1036
@kentonh

[2016-09-27 19:02] jalbertbowden commented on #10
what is the event date selection? looking at
http://www.startupwichita.com/events
its not clear to me what is desired.

[2016-09-27 19:58] kentonh commented on #43
@ChanChar I like that ordering idea. It would be good to check on the avatar image as well, but I'm not sure that we can with an affirmative Gravatar response.

[2016-09-27 20:00] kentonh commented on #40
@sethetter are you going to do this for Hacktoberfest?

[2016-09-27 20:04] kentonh commented on #10
@jalbertbowden at events/new the date selection is just dropdowns for month, date, hour, minute. It would be better with a date picker, and I think setting the default time to the current hour.

![screenshot 2016-09-27 15 01 34](https://cloud.githubusercontent.com/assets/868295/18889646/7b952d82-84c3-11e6-9f14-6f5cd8519a0e.png)

[2016-09-27 20:05] sethetter commented on #40
@kentonh I suppose I could :)

[2016-09-27 20:15] kentonh opened #47 "Every Tuesday at 5am central, send email"
Using current SendGrid integration, send an HTML email of the news stories added in the last 14 days, and include the next 30 days of events.

[2016-09-27 21:45] zachariast commented on #9
this seems to be working now on your project :)

[2016-09-27 21:50] zachariast commented on #14
hii, i a can help with that :)

[2016-09-27 22:40] jalbertbowden commented on #10
ok, i signed up, i see it now.
going to go with native html5 input type="date" and lets see what happens

[2016-09-28 00:45] jcserracampos commented on #14
@kentonh Are you talking about a new model?

[2016-09-28 03:02] ChanChar commented on #43
@kentonh PR is up. avatar images can be checked by checking to see if a file name was set. Didn't add the lower limit yet as I know the scoring should be tweaked based on mod input.

[2016-09-28 10:16] ghost commented on #14
@jcserracampos maybe model, migrations....perhaps controller..we need more explanations here @kentonh :)

[2016-09-28 18:16] #44 closed

[2016-09-29 14:44] #43 closed

[2016-09-30 21:21] kentonh commented on #14
The end result will be similar to what's happening with Resources, the information will just be slightly different.

Create a new model for Company.
A Company should have:
- Name (text)
- Logo (via upload or URL)
- Website (URL)
- Description (text area)

A new nav item should be added, linking to an index view (similar to People index)
Clicking on a single company should present a detail view of

[2016-09-30 21:24] kentonh opened #49 "@Mentions"
In a News or Event record, I want to be able to use the "@" symbol and the URL slug of a Person to link to their Person Record detail.

Same for a Company and Resource

[2016-10-01 11:40] jcserracampos commented on #14
@kentonh I can do it.

[2016-10-01 22:23] rlgreen91 commented on #49
Can you provide a bit more detail on what exactly the relationship should be between a News instance and a Person instance?  For example, should each News instance belong to a Person instance, or should it have at least one author, who is a person or company?

Additionally, what exactly are the parameters of the task?  Implementing this relationship for both News and Event models?  Just News in on

[2016-10-03 16:31] kentonh commented on #49
Hey @rlgreen91,

I'm just looking for a News or Event instance to link to a Person resource when that person is "mentioned" which would be an "@" followed by the Person url slug (which we should have in the Person record already)

So in the description text of the Event record for my birthday, I could say `happy birthday, @kenton-hansen` and it would link to my Person at http://startupwichita.com/

[2016-10-04 13:54] AustinMCrane commented on #7
yo home boy assign this to me!

[2016-10-04 16:21] kentonh commented on #10
Closed by @jarrettgreen with #51

[2016-10-04 16:21] #10 closed

[2016-10-04 16:55] #42 closed

[2016-10-05 05:25] dreamingblackcat opened #55 "Add useful information in Readme"
Hi, I think it would be great to have at least a bit of information about how to sets up the development environment. For eg. a step by step guide to do to get the app up and running without errors.

[2016-10-05 05:57] dreamingblackcat opened #56 "Add error messages in signup page"
There is no feedback on sign up page if something went wrong. Wouldn't it be better to show error messages (at least the default devise messages) when something went wrong?

[2016-10-07 12:36] sethetter commented on #40
The world of Ruby libs for accessing the Meetup API has grown dark and dismal it seems.

[2016-10-09 15:43] adccb commented on #42
Hey, sorry. Life got crazy and time got away from me. Glad to see you fixed it though, thanks.

[2016-10-09 15:55] kentonh commented on #42
Thanks anyway @lcrossan! Feel free to get your Hacktoberfest PRs in with some of our other Issues.

[2016-10-09 15:55] #49 closed

[2016-10-10 16:31] kentonh opened #63 "Profiles show up twice on People Index"
I wonder why...

[2016-10-10 16:33] kentonh commented on #55
Anything you specifically wish would have been there as you got the app up and running?

[2016-10-10 17:22] #55 closed

[2016-10-11 06:32] pv2k commented on #63
I can see only one "myprofile" when i opened the People index.

[2016-10-11 19:35] kentonh opened #65 "Fix opengraph image for social"
Right now anytime anyone posts anything to Facebook, my face shows up. That's nice and all, but I'd prefer something like our logo be used.

By default use the svg logo of the site available here:
![sw_logo_dark](https://user-images.githubusercontent.com/868295/30828076-fe24bcd4-a201-11e7-8eb6-23f9b284bfee.png)
![sw_mark_dark](https://user-images.githubusercontent.com/868295/30828075-fe207b7e-a201

[2016-10-11 20:55] kentonh opened #66 "Include Gravatar in calculation of Profile Score"
The profile score checks for uploaded images. It does not take into account Gravatar, which is the preferred method of face-making on the site.

The solution to this problem would be a value associated with the Gravatar link.
* Maybe test for 200 on the Gravatar link?
* Maybe test for 404 and deduct points on the Gravatar link?
* Maybe a better idea?

[2016-10-11 21:06] BhaveshSGupta commented on #56
Hey, I guess on signup page all the fields should be required, I suggest we should add the required validator.  I can take up this issue as a part of my hacktoberfest

[2016-10-11 21:17] BhaveshSGupta commented on #65
Hi, The minimum image size for og: image should be 200*200, please refer to this https://developers.facebook.com/docs/sharing/best-practices,
![ogimage](https://cloud.githubusercontent.com/assets/4209637/19288939/06d1ce38-9026-11e6-81a5-257ae7d6fb34.jpg)

I guess we can update the current image to minimum size, I can take this up

[2016-10-11 21:33] kentonh commented on #65
Thanks, @BhaveshSGupta A better logo file is: https://www.dropbox.com/s/tjk7967cfed91b9/SW_Logo_Dark.png?dl=0

[2016-10-11 21:36] kentonh commented on #63
Thanks, @navinpai

[2016-10-11 21:36] #63 closed

[2016-10-11 21:36] kentonh commented on #56
It's yours

[2016-10-11 21:38] BhaveshSGupta commented on #65
I am making it to 200*200, where should i make the PR to into which branch ? can you help me in  making these changes thanks

[2016-10-12 06:53] dreamingblackcat commented on #47
@kentonh  How do you want to handle the scheduling of emails: with a background processor like [delayed_job](https://github.com/collectiveidea/delayed_job), [rescue](https://github.com/resque/resque), [sidekiq](https://github.com/mperham/sidekiq) or just a cron job with a rake task ( [whenever](https://github.com/javan/whenever) would be a good fit)  ?

[2016-10-12 18:54] kentonh commented on #65
PR into the Master branch, thanks

[2016-10-12 18:55] kentonh commented on #47
I think Whenever looks like a good fit.

[2016-10-13 22:02] kentonh opened #71 "Can't create events"
Trying to create an event creates an error (out of range)

[2016-10-14 04:38] #71 closed

[2016-10-14 04:39] #66 closed

[2016-10-14 04:41] #16 closed

[2016-10-14 05:50] logeshmallow commented on #14
@kentonh Can I take this?

@jcserracampos Did you get a chance to work on this or can I take this and fix it?

[2016-10-14 09:16] jcserracampos commented on #14
You can take.

[2016-10-14 13:37] kentonh commented on #7
@AustinMCrane you still going to do this in your "spare" time? ;)

[2016-10-15 18:21] sethetter commented on #40
Meetup portion done in 79bc876

[2016-10-19 20:54] kentonh commented on #40
Maybe we just do Facebook events for certain pages
1. 1 Million Cups
2. Labor Party
3. Groundworks

[2016-10-19 20:58] kentonh opened #75 "Add Markdown instructions to certain places"
Many of the long text boxes process thier text with Markdown, but that's not evident to the users.
Add a note letting users know, and add instructions for using markdown to:
* Profile Bio
* News Description
* Event Desctiption
* Resource Description

[2016-10-19 21:05] kentonh opened #76 "Suggest Users when mentioning in Events and News"
It's now possible to mention Users on the site in News and Event descriptions with an '@' followed by the User's 'slug'

It would be great if the site would create a live list of results based on what the user has typed after the @. Much like GitHub does while I'm typing this issue.

Super meta
![giphy-2](https://cloud.githubusercontent.com/assets/868295/19537511/dbef82f0-9615-11e6-99ad-964d823ec0

[2016-10-19 23:28] AustinMCrane commented on #7
@kentonh do you have a icon you want for the button

[2016-10-20 00:55] AustinMCrane commented on #65
I got this

[2016-10-20 04:15] AustinMCrane commented on #56
fixed in pull request #77

[2016-10-20 17:34] esjee commented on #75
Seems accessible. I'd like to try this!

[2016-10-20 21:58] #56 closed

[2016-10-20 21:59] #75 closed

[2016-10-20 22:04] #76 closed

[2016-11-21 20:39] kentonh commented on #40
It appears the recurring events that pull from meetup.com has some... issues. If you look at the event's page, at the end of the page there are a list of events that are from the past. Those are all visible because they were created with long term end dates (Once was scheduled to be over 5-15-4692)

[2016-11-21 20:50] sethetter commented on #40
@kentonh fixed in 6f31618

[2017-05-02 13:01] sethetter opened #81 "Social sharing meta tags for content pages"
When sharing a news item, we should see the news headline and content, not just website info.

[2017-05-23 13:35] AustinMCrane opened #82 "user.name always gives "Unknown User""
the instance function for:
[code]
always returns "Unknown User" because use of @person does not reference the users instance of a person.

[2017-05-23 15:12] AustinMCrane commented on #81
i added some improvements to this but i dont know if it sufficiently closes the issue. checkout pull request #84

[2017-05-23 15:14] AustinMCrane opened #85 "people index page is slow"
The people index page is super slow for initial loading.

[2017-06-21 15:33] kentonh commented on #22
I don't think Resources adds anything to the software, but I think a Startup / Tech company listing would be very useful. Closing this ticket and creating a new ticket for Company

[2017-06-21 15:33] #22 closed

[2017-06-21 15:34] #81 closed

[2017-06-21 15:34] #82 closed

[2017-06-23 17:02] kentonh opened #86 "Images for Events and News"
Add ability to upload images to News and Events
Add Images to Index and Show views

Make ```Article URL``` attribute first on the form

News and Events should pull Social Graph data from URL
Pull image, summary, and title information

Populate the rest of the form with Social Graph Information, but allow edits by the user

[2017-09-25 19:48] kentonh commented on #4
Not really a thing anymore

[2017-09-25 19:48] #4 closed

[2017-09-25 19:49] kentonh commented on #9
Not really a thing anymore

[2017-09-25 19:49] #9 closed

[2017-09-25 19:50] kentonh commented on #7
No one is currently working in this now.

[2017-09-25 19:51] kentonh commented on #47
No one is working on this currently.

[2017-09-25 19:51] kentonh commented on #40
This is good enough

[2017-09-25 19:51] #40 closed

[2017-09-25 19:52] kentonh commented on #65
No one is working on this

[2017-09-25 20:53] kentonh opened #87 "Add a way to sign up for Tuesday emails only"
In issue #47 we send an email to users, the public should have a way to just opt in to these emails. Maybe through a sign up to be a user.

BUT these people wouldn't be show on the people list.

[2017-09-25 20:57] kentonh opened #88 "Remove certain users from People page"
Change the way that people are show on the People page.

The People index view should only use the current template for accounts who satisfy the following requirements:

Have completed their profiles, a complete profile would include:

1. First and last name
1. contact email
1. Company name
1. avatar with Gravatar or uploading a file
1. at least 60 characters in their bio *OR* three News or Event

[2017-09-25 20:59] kentonh opened #89 "Make Posts (events, news) and Mentions count towards a User's Score"
Users are ordered by default on the People page by how complete their profile is. Need to add the number of posts a user has contributed as well as the number of posts that mention them to the scores.

[2017-09-25 21:02] kentonh opened #90 "Help Users know what they can do when posting"
Users can mention other users (or themselves) by using an ```@```

Can use Markdown to style their posts

[2017-09-26 06:01] BhaveshSGupta commented on #65
I remember I was not able to find the place to replace the image and run the project locally
 I think image needs to be replaced in this two file https://github.com/StartupWichita/startupwichita.com/blob/13108a967ba7271896213ee4e07359aa8681fa1b/app/assets/images/StartupwichitaCom.html#L20 https://github.com/StartupWichita/startupwichita.com/blob/6b8529ea281bff3c6fcc26f7b5de2e686cc5f2d1/app/views/l

[2017-09-26 18:54] kentonh commented on #65
@BhaveshSGupta no problem. I'm just setting up this issue for this year's Hacktoberfest

[2017-09-27 22:38] ksolo commented on #85
@kentonh @AustinMCrane
I'll take a quick look at this tonight/tomorrow and open up a PR soon.

[2017-09-28 22:25] ksolo commented on #85
@AustinMCrane @kentonh
The person index page has a (5xN) + 1 query going on. I have it down to N + 1, but the ActsAsTaggableOn is the only one remaining that I'm not sure how to eliminate just yet.

[2017-09-29 13:30] yoonwaiyan commented on #88
Hi, can I help out with this issue? If yes, would like to know what's the criteria of completing the profile i.e. first name and last name as in validation or completed all fields in edit profile page? What's the details about "company if those exist"? And do we still include the "inactive person" in filtering?

[2017-09-29 19:57] kentonh commented on #88
@yoonwaiyan I'd love your help.

I'm editing the issue with more detail to answer your questions and clarify further.

[2017-09-29 20:25] #85 closed

[2017-09-30 03:00] yoonwaiyan commented on #88
Alright, will work on this.

[2017-09-30 05:06] pulkitsharma07 opened #92 "Can't access /people on production"
I guess it is throwing an exception.

http://www.startupwichita.com/people

[2017-09-30 20:47] AfroDevGirl commented on #89
@kentonh Hey! I'll pick up this issue, quick question. Any preference on the level of scoring for posts and mentions? Seems like it should be high ranking but the current scoring is a little scattered as a newcomer to the project. Thanks in advance for your help!

[2017-10-01 01:57] sa77 commented on #88
@kentonh is this issue resolved ?

[2017-10-01 02:24] kentonh commented on #88
@sa77 it looks like @yoonwaiyan is working on this issue.

[2017-10-01 02:26] kentonh commented on #92
It looks like this is caused by a tag with a nil value.

A Person has added a tag that the template can't handle.
@pulkitsharma07 is this something you'd like to work on?

[2017-10-01 02:28] kentonh commented on #89
Thanks, @AfroDevGirl!

Just adding it to the array of scoring on `/models/person.rb` we'll end up tweaking the points-per-post and points-per-mention as we go along to make things fair.

[2017-10-01 02:31] kentonh opened #93 "Add News, Events to Person's profile"
Currently a Person's profile shows the posts they're mentioned in.
In that same list, add the posts that a person submits as well.

[2017-10-01 02:34] kentonh opened #94 "Make better contribution docs"
Currently, it's not intuitive on how to get a local version up a running, and how we prefer PRs. Really, we don't have a way that we want them.

[2017-10-01 02:41] kentonh opened #95 "Create "flag for spam""
On any post (News, Event, etc) add a way for users to flag for Admin review of potential spam.

[2017-10-01 03:07] Jedeu commented on #94
Hey @kentonh would love to help with this issue, though I guess we should discuss about the preferred way/guidelines to submit PRs and to spin up a local?

[2017-10-01 09:23] aekasitt commented on #87
Hi, is #47 solved?
If yes, how was it implemented?
When talking about the public, do you want to have a mailing list for non-members? If yes, I also recommend implementing Captcha in the Newsletter Sign-up form as well. Please advise.

I can take up on this task.

[2017-10-01 11:00] GustavoCaso commented on #95
@kentonh can this flag be set up for no logged users?

[2017-10-01 12:28] yoonwaiyan commented on #93
The person's profile do you mean /profile/<person-name> ? Based on the erb template looks like news and events are already available in that page

[2017-10-01 12:33] yoonwaiyan commented on #90
for both news and events?

[2017-10-01 14:10] query-string commented on #95
Hi @kentonh Plese, let me know what you think #97

[2017-10-01 15:19] alienxp03 commented on #92
I'd like to work on it if there are no takers yet :)

[2017-10-01 15:49] kentonh commented on #92
@alienxp03 It's all you, friendo

[2017-10-01 15:53] alienxp03 commented on #92
@kentonh Any chance I can see the log errors?

[2017-10-01 15:54] kentonh commented on #95
Thanks, @query-string

[2017-10-01 15:54] #95 closed

[2017-10-01 15:55] kentonh commented on #94
I like what Jekyll has done with https://jekyllrb.com/docs/contributing/

That could be added to the readme

[2017-10-01 16:16] kentonh commented on #87
Hey @aekazitt. No, #47 is not yet solved.

I want to have a place for non-users to sign up for the email mentioned in #47 I believe captcha or an email verification link would be appropriate.

Thanks for your help

[2017-10-01 17:35] #88 closed

[2017-10-01 17:37] kentonh commented on #92
Here's what I pulled when I filed the ticket.

[code]

[2017-10-01 17:37] kentonh commented on #93
@yoonwaiyan currently, only items where a Person is *mentioned* show on their /profile/

I'd like to add items that a Person posts to that list as well

[2017-10-01 17:46] kentonh commented on #90
@yoonwaiyan yes. Markdown should be enabled for both news and events

[2017-10-01 20:26] cesc1989 commented on #14
Hi @jcserracampos @kentonh

Is there any update on this? If not, I'd like to tackle it.

[2017-10-01 21:16] magikid opened #100 "Form errors on /users/edit are unreable"
I was trying to create an account and got some errors when submitting the form.  Unfortunately, the text of the error messages is white with a white background so the only way to read the error is to highlight the text.

![screenshot from 2017-10-01 17-11-50](https://user-images.githubusercontent.com/115515/31059059-461ccd3c-a6cc-11e7-930f-8d3ba3704d9b.png)

[2017-10-01 22:02] magikid commented on #100
PR #101 changes the error box to look like the below screenshot:

![image](https://user-images.githubusercontent.com/115515/31059580-95b81238-a6d2-11e7-9c02-f5cd65c3980d.png)

[2017-10-01 22:24] #100 closed

[2017-10-01 22:25] kentonh commented on #89
Fixed with #99

[2017-10-01 22:25] #89 closed

[2017-10-01 22:27] kentonh commented on #14
It's all yours @cesc1989

[2017-10-01 23:11] cesc1989 commented on #14
Good. I'd like you to know I got here following Hacktoberfest tag.

[2017-10-02 01:24] jcserracampos commented on #14
@cesc1989 There's no problem for me.

[2017-10-02 01:29] alienxp03 commented on #92
Seems like could be an issue with `acts_as_ordered_taggable_on`. Created PR [102](https://github.com/StartupWichita/startupwichita.com/pull/102) 🙂

[2017-10-02 05:49] gagaception commented on #94
Hi @kentonh, just pushed pull request for this issue. I hope this is what you wanted

[2017-10-02 06:10] aekasitt commented on #87
Ok, so here is going to be the outline.
There are three steps to proceed, since the Background Process to email signed-in users are not yet implemented.

1. Create Model to maintain Mailing List, this can be a Meta-model serving as extension to the People's model so it can be used by Mailing List participants to smoothly transition into Signed-In users.
2. Create foolproof Mailing List sign-up pro

[2017-10-02 13:40] kentonh commented on #94
closed with #103

[2017-10-02 13:40] #94 closed

[2017-10-02 13:42] kentonh commented on #87
I have only one question @aekazitt. Would it be better to create a User record for each email address that signs up for the emails only?
This would allow that person to more easily manage the transition between `casual subscriber`, `community member`, and `contributing member`

[2017-10-02 16:07] kentonh commented on #90
Solved by #108

[2017-10-02 16:07] #90 closed

[2017-10-02 21:20] kentonh commented on #92
@alienxp03 I've deployed this PR to production, but the problem persists.

[2017-10-02 21:21] kentonh commented on #32
@sethetter are you going to tackle this for Hacktoberfest, or do you even need to since your whole job is making PRs to open source repos?

[2017-10-03 04:32] kentonh opened #110 "Multi Day events order"
Multi day events should be listed on the day they start, but stay active until the day that they finish

[2017-10-03 06:16] alienxp03 commented on #92
Same error I suppose? I'll check on it later tonight (_my timezone_) 😁

[2017-10-03 13:35] pulkitsharma07 commented on #92
I'll take a look into it tonight, btw, isn't the page taking too long to load ?
It takes about 10-11 seconds for me.

@kentonh, Did this happen after deploying the PR #102 ?

[2017-10-03 14:22] kentonh commented on #92
@pulkitsharma07 you're right! and @alienxp03, it's not the same error. It looks like a Heroku timeout, probably based all the gravitar checks on #98.

[2017-10-03 14:26] #92 closed

[2017-10-03 21:30] lafentres commented on #65
@kentonh , I could fix this. I noticed a couple of other issues when I was looking at this as well.

1. The meta tags don't dynamically pull in the request url, so any share from any page (like /events for example), will always point back to the homepage.
2. Not a huge issue really, but the title for the share doesn't change.

I could fix these as well and any other sharing things I notice.

[2017-10-03 21:46] kentonh commented on #65
@lafentres that'd be awesome! Thanks.

[2017-10-04 00:45] jaquesdias commented on #110
Hi @kentonh, I can do that. I'll open a PR soon to solve this issue 😉 .

[2017-10-04 01:03] kentonh commented on #110
Awesome, thanks @jaquesdias 👍

[2017-10-04 01:05] kentonh opened #111 "/people/ times out on Heroku"
Site is hosted on Heroku, and the page load time with all the neat-o features takes quite a while to load. There are several ways to speed it up. I'm not in love with straight paginating.

[2017-10-04 07:19] aekasitt commented on #87
Hi, after looking into the schema, I advise against the above approach.
The User model is used mostly for Authentication while Person model is used for Role assignments -> community member (non-featured) and contributing member (featured)

While the casual subscriber, though can be assigned as a Role does not need the complexity of Authentication implemented nor being Featured.

My approach so far

[2017-10-04 13:54] kentonh commented on #87
@aekazitt some answers:
- **Should there be a distinction between a Tuesday Newsletter and Member Newsletter?** Yes, that would be good. I don't know how we'd use that right now, but I think it would be useful to differentiate the messages we send based on involvement.
- **Do you think the opt-in for Members to Tuesday Reader is unnecessary?** While there should be an _Opt Out_ for receiving the T

[2017-10-04 18:58] lafentres commented on #86
@kentonh, I'd like to try this one as well.

[2017-10-04 20:52] #65 closed

[2017-10-04 21:02] kentonh commented on #86
@lafentres have at it and thanks for the help! With as much as you've contributed to this app, you should register for the [Wichita Hacktoberfest](https://devict-hacktoberfest.herokuapp.com). Might as well get a free shirt and stickers out of the deal.

[2017-10-04 21:03] kentonh commented on #86
whoops. reopened

[2017-10-05 12:20] aekasitt commented on #87
What's done since our last chat:
* Opt-in Users to TuesdayReader using Migration
* Implement Opt-Out (Unsubscription) for Users including form and separate page

Remaining Tasks:
* Programmatically Generate Email Contents as said above
* Implement SideKiq scheduling (Integratable with Heroku Scheduler)
* Validate and Transition TuesdayReader during User Sign-up

[2017-10-05 21:52] kentonh opened #114 "Cache Gravatar URL tests in Person record"
The People page sorts and scores People records by checking the Gravatar URL for the email address associated with the Person<->User.

App should store that success/failure in the database with the Person record, and update it with a chron job (maybe every Tuesday?)

[2017-10-07 15:25] query-string commented on #114
@kentonh another little improvement is piping hot #115 🔥

[2017-10-08 02:37] #114 closed

[2017-10-08 02:39] #110 closed

[2017-10-08 16:49] kentonh opened #118 "Events imported from Meetup have bad future dates"
@sethetter The importer scheduled a few (10 or so) events with ending dates in the year 4000.
I'm not sure if it's a consistent issue or not, but it's work a check

![](https://media.tenor.com/images/ef1a03dc0bd219098bfc6fdff8a119ad/tenor.gif)

[2017-10-09 20:04] lafentres commented on #86
@kentonh, I believe I addressed everything in the pull request I just submitted except for the last part. Can you explain what you mean by "Populate the rest of the form with Social Graph Information, but allow edits by the user" ?

I am pulling everything from information on the event or news item currently. If the event/news item has an image, I use that for the social sharing tags, otherwise I

[2017-10-09 20:15] kentonh commented on #86
What I meant with the Social Graph population was to pre-fill the forms with the information provided by the metadata from Social Graph. Does that make more sense?

[2017-10-10 02:36] sethetter commented on #118
@kentonh have you corrected the dates? If so, can you point me to which ones (at least one) that had a crazy future date like that?

[2017-10-10 02:48] sethetter commented on #118
Looking at `lib/tasks/pull_events_from_meetup.rb` in the `get_ends_at` method, I can't see how the dates would come out wrong unless something incorrect was sent from meetup.

Their [API states](https://www.meetup.com/meetup_api/docs/2/events/) that the `time` and `duration` fields are in milliseconds, and the ruby `Time` module works in seconds. We're dividing by 1000 like we should be.

Anyways,

[2017-10-10 20:48] lafentres commented on #86
I think so. If I am understanding correctly, you'd like part of the form for creating/editing an event or news item to include fields to edit the social sharing info (which would be the social sharing title and description [unless you'd also like the social sharing image to potentially be different from the image associated with the event/news item?]). And those fields should be pre-filled with th

[2017-10-10 21:31] kentonh commented on #86
I think I've done a bad job at describing what I'm going for. Soooo. I'll start over! Forget everything I've said up to this point.

* [This link](http://www.startlandnews.com/2017/10/techstars-spotlight-grit-virtual-builds-3-d-tech-into-2-d-construction-mindset/?utm_source=startupwichita.com) was posted as News.
* Startland includes metadata in the Social Graph format.

What I'm proposing is:

1.

[2017-10-10 22:55] fdel15 commented on #93
Is anyone working on this? I'd like to claim it if it's available.

[2017-10-10 23:09] yoonwaiyan commented on #93
I’m not doing this, feel free to claim it.

On Wed, 11 Oct 2017 at 6:55 AM, Frank DelPidio <notifications@github.com>
wrote:

—

[2017-10-10 23:26] fdel15 commented on #93
Thanks!

[2017-10-11 22:24] cesc1989 commented on #14
Hello @kentonh not sure where else to ask so gonna do it here:

I've configured the project in a Vagrant machine. I'd normally do `rails s -b 0.0.0.0 -p 8000` to start the web server however, instead of webrick it starts a puma server stating: `tcp://0.0.0.0:8000` and I can't access localhost. Any idea why could this be happening?

BTW, I ask because in the gemfile puma gem is under `production` g

[2017-10-12 14:13] cesc1989 commented on #14
Never mind :D My Vagrantfile was misconfigured (VSCode gave me the wrong file)

[2017-10-12 15:35] kentonh commented on #14
@cesc1989 you have 100% perfect timing, as I was just about to dig into this, you fixed your own issue!

[2017-10-12 16:15] aekasitt commented on #87
In order to use ActiveJobs (as part of ActiveSupport) I need to upgrade Ruby version fro 2.2.0 to 2.2.2+ Is that ok?

[2017-10-12 17:20] cesc1989 commented on #14
My bad! @kentonh It's taken me a lot more than I thought to start working on this. In a few hours you'll get news on this issue :)

[2017-10-12 20:47] kentonh commented on #87
As long as it doesn't break anything else, I'm fine with it.

[2017-10-14 22:38] cheshire137 commented on #7
I'd like to work on voting for events.

[2017-10-14 23:37] cheshire137 commented on #7
#127 starts on this by adding voting for events.

[2017-10-23 16:10] lafentres commented on #86
I get what you mean now. That makes total sense. I'll start working on this.

[2017-11-05 20:46] lafentres opened #134 "Repeated failed requests for iframe"
I noticed that the site tries to get the following url periodically and it keeps failing (404):
https://startupwichita-slackin.herokuapp.com/iframe/socket.io/?EIO=3&transport=polling&t=1509914542338-0

I'm not sure what this code does or how much of a problem it is.

This eventually fills the console with the same errors (see screenshot below)
<img width="1124" alt="screen shot 2017-11-05 at 2 44

[2018-01-10 14:45] sbpipb commented on #47
could I have this? will use `whenever` if you're okay with it.

[2018-05-18 22:56] southekal opened #135 "Update ICT Job Board Section"
ICT Job Board links to http://jobs.devict.org which no longer exists.

Expected:
- Update link to the devICT #job-postings slack channel or
- Remove ICT Job Board section

<img width="1211" alt="screen shot 2018-05-18 at 5 54 33 pm" src="https://user-images.githubusercontent.com/540716/40261138-91b0085c-5ac4-11e8-8d98-f5e5c5a9e475.png">